{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>商品編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>商品名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == '蛋糕' %}
              <option value="餅乾">餅乾</option>
              <option value="麵包">麵包</option>
              <option value="蛋糕" selected>蛋糕</option>
              <option value="奶酪">奶酪</option>
            {% elif data.類別 == '餅乾' %}
              <option value="餅乾" selected>餅乾</option>
              <option value="麵包">麵包</option>
              <option value="蛋糕">蛋糕</option>
              <option value="奶酪">奶酪</option>
            {% elif data.類別 == '麵包' %}
              <option value="餅乾">餅乾</option>
              <option value="麵包" selected>麵包</option>
              <option value="蛋糕">蛋糕</option>
              <option value="奶酪">奶酪</option>
            {% else%}
              <option value="餅乾">餅乾</option>
              <option value="麵包">麵包</option>
              <option value="蛋糕">蛋糕</option>
              <option value="奶酪" selected>奶酪</option>
            {% endif %}
            
        </select>
      </tr>
      <tr>
        <th>商品敘述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
        </td>
      </tr>
      <tr>
        <th>數量</th>
        <td><input class="form-control" type="text" value="{{ data.數量 }}" name="num" required></td>
      </tr>
      <tr>
        <th>商品圖片</th>
        <td>
          <img src="{{ data.商品圖片 }}" alt="商品圖片" style="width: 200px; height: 200px;">
          <input type="file" class="form-control" id="editImage" name="editimage" accept="image/*">
        </td>
      </tr>
      <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}