{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.editNews') }}>
    <table class="table table-bordered">
      <tr>
        <th>消息標題</th>
        <td><input class="form-control" type="text" value="{{ data.消息標題 }}" name="title" ></td>
      </tr>
      <tr>
        <th>發布內文</th>
        <td><input class="form-control" type="text" value="{{ data.發布內文 }}" name="content" required></td>
      </tr>
      <tr>
        <th>發布時間</th>
        <td><input class="form-control" type="text" value="{{ data.發布時間 }}" name="releasetime" readonly class="id_release"></td>
      </tr>
      <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.publish') }}"><button class="btn btn-outline-danger">回消息管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}