{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Register Page{% endblock title%}

{% block content%}
<div class="background-container">
<div class="position-absolute top-50 start-50 translate-middle outer_div">
    <a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./img/home.png') }}"></a>
    <h1 class="register_title mb-3 mt-3">會員註冊</h1>

    <div class="form_div">
        <form  method='post' action={{ url_for('api.register') }} >
            <p class="mb-3">
                姓名：<input type="text" name="username" required/>
            </p>
    
            <p class="mb-3">
                帳號：<input type="text" name="account" required/>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <p class="same_accoount">
                    *已經有相同的帳號名稱
                </p>
                {% endif %}
                {% endwith %}
            </p>
    
            <p class="mb-4">
                密碼：<input type="password" name="password" required/>
            </p>
            <p class="mb-4">
                電話：<input type="tel" name="tel" pattern="[0]{1}[9]{1}[0-9]{8}" required/>
            </p>
            <p class="mb-4">
                信箱：<input type="email" name="email" required/>
            </p>
            <p class="mb-4">
                生日：<input type="date" name="date" required/>
            </p>
            <p class="mb-4">
                地址：<input type="text" name="address" required/>
            </p>
            <div class="btn_div mb-4" style="margin-bottom: 1rem;">
                <p class="option_div">選擇你要註冊的身份：</p>
                <select name="identity">
                    <option value="user" selected>使用者</option>
                    <option value="manager" >管理員</option>
                </select>
            </div>

            <p>
                <a href="{{ url_for('index') }}">
                    <button type="button" class="register_btn">回上頁</button>
                </a>
                <button type="submit" class="register_btn"> 註冊</button>
            </p>
        </form>
    </div>
</div>
</div>
<style>
    .background-container {
        background-image: url('{{ url_for('static', filename='./img/b2.png') }}');
        background-size: cover;
        background-position: center;
        height: 600px; /* 設定 div 的高度，可以根據需要調整 */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black; /* 如果文字不容易看見，可以調整文字顏色 */
    }
</style>
{% endblock content%}