{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}
<style type="text/css">

  .cardinfo{
    display: none;
  }
    
  .mobileinfo{
    display: none;
  }

  </style>
<br/>
<div class="container-xl">
  <form method="post" action={{ url_for('bookstore.cart') }}>
    <table class="table table-bordered">
      <tr>
        <th><center>商品編號</center></th>
        <th><center>商品名稱</center></th>
        <th><center>商品價格</center></th>
        <th><center>數量</center></th>
      </tr>
      {% for book in data %}
      <tr>
        <td> <center>{{ book.商品編號 }}</center></td>
        <td> <center>{{ book.商品名稱 }}</center></td>
        <td> <center>{{ book.商品價格 }}</center></td>
        <td width="20%">
          <center>
            {{ book.數量 }}
          </center>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="col align-self-end">
      
    </div>
    <div class="mb-3">
      <label for="inputDelieverWay" class="form-label">領貨方式</label>
      <select id="inputDelieverWay" class="form-select" name="way">
          <option selected disabled value="">請選擇方式</option>
          <option value="宅配">宅配</option>
          <option value="超商">超商</option>
      </select>
    </div>
    
    <div class="mb-payment">
      <label for="inputpayment" class="form-label">付款方式</label><br>
      <input type="radio" name="inputpayment" id="cash" value="貨到付款" checked>貨到付款
      <input type="radio" name="inputpayment" id="card" value="信用卡" >信用卡
      <input type="radio" name="inputpayment" id="mobile" value="行動支付">行動支付
    </div>
  
    <div class="cardinfo">
        <label for="cardinfo" class="form-label">銀行名稱</label>
        <input type="text" class="form-control" id="bankname" name="bankname">
    
        <label for="cardinfo" class="form-label">銀行代碼</label>
        <input type="text" class="form-control" id="bankid" name="bankid">
    
        <label for="cardinfo" class="form-label">信用卡卡號</label>
        <input type="text" class="form-control" id="cardnumber" name="cardnumber" pattern="[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}" maxlength="16" >
    
        <label for="cardinfo" class="form-label">安全碼</label>
        <input type="text" class="form-control" id="safecode" name="safecode" pattern="[0-9]{3}"maxlength="3" >
    
        <label for="cardinfo" class="form-label">到期日</label>
        <input type="text" class="form-control" id="duedate" name="duedate" maxlength="4" >
    </div>
  
    <div class="mobileinfo">
      <label for="mobileway" class="form-label">支付工具</label>
      <select id="mobileway" class="form-select" name="toolway">
          <option selected disabled value="">請選擇方式</option>
          <option value="Line Pay">Line Pay</option>
          <option value="Appel Pay">Appel Pay</option>
          <option value="Google Pay">Google Pay</option>           
      </select>
    </div> 
  
  
   
    <div class="container-xxl" style="text-align: right;">
      <div class="row">
        <div class="col align-self-start">
 
        </div>
        <div class="col align-self-center">

        </div>
        <div class="col align-self-end">
          <b class="ml-50">訂單總價：{{ total }} 元</b>
        </div>
      </div>
    </div>
    <center> 
      <div class="option">
        <a href="{{ url_for('bookstore.cart') }}"><button class="btn btn-primary" type="submit" >回購物車</button></a>
        <button class="btn btn-success" type="submit" value="order" name="order">下訂單</button>
    </div>
    </center>

  </form>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>

  $(function(){

      // 事件監聽 .on('哪一種事件監聽', 要做什麼事)
      $('#card').on('click',function(){
          $('.cardinfo').show();  
          $('.mobileinfo') .hide();
      });

      $('#cash').on('click',function(){
          $('.cardinfo').hide(); 
          $('.mobileinfo') .hide();
      });

      $('#mobile').on('click',function(){
          $('.cardinfo').hide(); 
          $('.mobileinfo') .show();
      });

  })
</script>

{% endblock content%}